html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}


#map-canvas {
    width: 100%;
    height: 102%;
    margin-top: 9px;
}

#map-legend {
    font-family: "Arial", 5px;
    background: #ffffff;
    padding: 2px;
    width: 160px !important;
    margin-bottom: 10px;
    border: 1px solid #444;
    box-shadow:0 0 5px #555;
}

#ex2 {
    width: 160px;
}

/* info windows*/
.gm-style-iw {
    width: 185px;
    height: 185px;
    color: #4c62ad;
}


/* map drawing tools*/
.filterages {
    width: 250px;
    margin-bottom: 5px;
    margin-right: auto;
    margin-left: auto;
}

#filterbuttoncol {
    margin-left: 20px;
    margin-right: 0px;
    margin-top: 0px;

}

/* end map drawing tools*/

#ui-datepicker-div {
    z-index: 999999 !important;
}

/* remove resize option on selected text areas */
.noresize, .noresizenumber {
    resize: none;
    height: 23px !important;
    vertical-align: middle;
}


.formlabel {
	display: block;						/* Force label onto its own line. */
	font-weight: normal;
    margin-bottom: 0px;
}

.formspan {
    display:inline-block;
    margin:2px 2px 2px 3px;
}

.formspan.left {
    padding-left: 6px;
}

.formspan.left.search {
    margin-bottom: 30px;
}


fieldset.standard {
    padding-top:20px;
    padding-left:0px;
    padding-right: 0px;
    padding-bottom: 5px;
    border:1px solid #999;
    border-radius:5px;
    box-shadow:0 0 10px #999;
    width:560px;
    margin-bottom: 15px;
    font-size: 12px;
    background: #d7e9c6;
    margin-left: auto;
    margin-right: auto;
}


#id_sample_notes, #id_sample_setting, #id_geomorph_setting {
    height: 70px;
    width: 540px;
}

#id_geological_setting, #id_pot_contamination, #id_site_notes {
    height: 60px;
    width: 540px;
}

#id_sampled_material, #id_lithology {
    height: 70px;
    width: 265px;
}

#id_site_location, #id_photographs {
    height: 50px;
    width: 265px;
}

#id_depth_below_SL {
    width: 50px;
}

#id_sample_location_name, #id_probe_serial_no {
    width: 320px;
}

#id_material {
    height: 60px;
    width: 480px;
}

#id_collector, #id_lithofacies {
    width: 200px;
}

#id_lithology {
    width: 260px;
}

#id_burial_depth {
    width: 60px;
}

#id_filename {
    width: 125px;
}

#id_equipment_number {
    width: 50px;
}

#id_gamma_spec {
    width: 180px;
}

#id_sample_time, #id_uranium, #id_potassium, #id_thorium {
    width: 60px;
}

#id_sample_duration, #id_sample-latitude, #id_sample-longitude, #id_sample-northing, #id_sample-easting,
#id_sample-elevation, #id_age, #id_age_error, #id_calendar_age, #id_calendar_error, #id_lab_code, #id_calibration_curve,
#id_site-latitude, #id_site-longitude, #id_site-easting, #id_site-northing, #id_site-elevation{
    width: 83px;
}

#id_collection_date, #id_dating_priority, #id_sample_weight, #id_quartz_content, #id_sample_surface_strike_dip,
#id_sample_thickness, #id_grain_size, #id_site_date {
    width: 80px;
    height: 23px;
}

#id_transect_number, #id_zone_number {
    height: 23px;
    width: 45px;
}

#id_sample-grid_reference, #id_boulder_dimensions, #id_site-grid_reference {
    width: 120px;
}

#id_sample-bng_ing, #id_sample_code, #id_county, #id_site-bng_ing {
    width: 150px;
}

.bearinc {
    resize: none;
    width:40px;
    height: 27px;
}

#id_exposure_core, #id_core_number, #id_stratigraphic_position, #id_stratigraphic_position_depth {
    width: 175px;
    height: 70px;
}

#id_site_name {
    width: 190px;
}

#id_operator {
    width: 150px;
    height: 50px;
}

#id_collected_by {
    width: 225px;
    height: 50px;
}

#id_sample_type_collected {
    width: 145px;
}




fieldset#site {
    width:560px;
}

fieldset#coordinates {
    width:470px;
    align-self: center;
}

fieldset#search {
    width:220px;
    align-self: center;
    padding-bottom: 0px;

}

fieldset#age {
    width:470px;
    align-self: center;
}

#clearsearchfields {
    float: right;
    padding-bottom: 1px;
    padding-top: 1px;
    margin-top: -3px;
}

legend.fieldsets {
    float:left;
    margin-top:-20px;
    margin-bottom: 5px;
    font-size: 16px;
    padding-left: 7px;
    background: #424242;
    color: #ffffff;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
legend.fieldsets + * {
    clear:both;
}

legend.fieldsets.middle {
    text-align: center;
    padding-left: 0px;
    -webkit-border-top-left-radius: 0px;
    -webkit-border-top-right-radius: 0px;
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-topright: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

legend.fieldsets.top {
    text-align: center;
    padding-left: 0px;
}

button.btn-xl {
    width: 110px;
    height: 60px;
    font-size: 18px;
    border-radius: 8px;
    margin-bottom: 10px;
}


#sample_count {
    margin-left: 200px;
    margin-bottom: 30px;
    border: 2px solid;
    border-color: #5b74a8;
    background-color: #5b74a8;
    cursor: default;
}

#fieldsmodal-header {
    height: 45px;
    background: #424242;
}

#fieldsmodal-title {
    color: #ffffff;
    line-height: 1;
}


.logo-nav {
    vertical-align: middle;
    padding-left: 15px;
    padding-right: 5px;
    padding-top: 5px;
}

img#logo {
    height: 58px;
}

.loginform {
    padding-top: 5px;
    margin-top: 4px;
}

#loginbutton, #logoutbutton {
    height: 27px;
    margin-top: 9px;
    padding-top: 2px;
    padding-bottom: 3px;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 2px;
}

#logoutbutton {
    margin-top: 16px;
}




#editjumbo {
    margin-top: -25px;
    max-width: 1180px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    float: none;
    box-shadow:0 0 10px #999;
}

#standardjumbo {
    max-width: 1180px;
    margin-top: -10px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    float: none;
    box-shadow:0 0 10px #999;
}

#agecol {
    margin-left: auto;
    margin-right: auto;
}

#tcntabContent {
    background: #f9f9f9;
}


#mod-foot {
    background: #424242;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-top: 0px;
}

#mod-header {
    background: #424242;
    padding-top: 5px;
    padding-bottom: 6px;
}

#siteDetailsLabel {
    width: 175px;
    float: left;
    color: #ffffff;
}

.site-info {
    width: 120px;
    float: left;
    color: #ffffff;
    margin-top: 1px;
}

.sitech {
    font-size: 13px;
}
#myModalLabel {
    color: #ffffff;
}


#mod-bod {
    font-size: 12px;
    vertical-align: middle;
    padding-bottom: 5px;
    margin-bottom: 0px;
    background: #C5BD99;
}

#modo {
    width: 630px;
}

#paneltop {
    background: #ffffff;
}
.panel-body {
    background: #FFFEDC;
}

#id_sites {
    width: 250px;
    font-size: 13px;
}

#id_main-sites, #id_main-sites option {
    width: 240px !important;
}

#id_fill-sites, #id_fill-sites option {
    width: 210px !important;
}

.tooltip.top .tooltip-inner {
    background-color: #5b74a8;
  }
.tooltip.top .tooltip-arrow {
    border-top-color: #5b74a8;
}


table.bearing th {
    text-align: center;
}

table.bearing td {
    margin: 0px 0px 0px 0px;
    padding: 0px 7px 0px 7px;
}

.centered {
    text-align: center;
}

table.bearing {
    font-size: 12px;
    border-collapse: separate;
    border-spacing: 1px;
    *border-collapse: expression('separate', cellSpacing = '5px');
}

#bearcol {
    float: left;
}

#biModBod {
    background: #C5BD99;
}

#mod-content {
    box-shadow: 0 0 0 0px;
}

.modal {
 overflow-y: auto;
}

.modal-open {
 overflow: auto;
}

#upload_form {
    padding-top: 50px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

#login {
    font-size: 12px;
    height: 26px;
    padding: 1px 2px;
}

html {
  overflow-y: scroll;
}


/* Search Page */
#searchcol {
    border-right: 2px solid;
    border-right-color: #d1d1d1;
}


.form-control.narrow {
    width: 100px;
    margin-bottom: 5px;
}

.form-control.mid {
    width: 125px;
}

.form-control.wide {
    width: 150px;
}

#choice {
    margin-right: 45px;
}

#end {
    margin-left: -20px;
}

#endageinput {
    margin-left: -65px;
    margin-top: 25px;
    margin-right: -30px;
}



#searchbutton {
    width: 110px;
    height: 45px;
    font-size: 14pt;
    margin-right: 10px;
    margin-left: 30px;
    margin-top: -7px;
}

#startagelabel {
    width: 250px;
}


.tablescroll {
    overflow-x:scroll;

}

th.tablesorter-header.resizable-false {
  background-color: #e6bf99;
}

#tablesorterdiv {
    padding-left: 0px;
    padding-right: 0px;
}


#startage, #endage {
    width: 110px;
}

#getcsv {
    width: 175px;
    height: 33px;
    font-size: 12pt;
    margin-left: 10px;
    padding-top: 3px;
}

#fieldsbutton {
    width: 90px;
    padding: 0px;
    height: 35px;
}

#buttongroup {
    margin-left: -20px;
    margin-top: 23px;
}

#buttongroup2 {
    margin-top: 23px;
}

#searchfieldpanel {
    background: #f9ffde;
}

#searchpanel {
    border-color: #fbffe7;
    box-shadow:0 0 5px #999;
}

#searchheader {
    background: #a7d196;
}


/* end Search Page*/



#nv {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    padding-left: 3px;
    padding-right: 3px;
    border-bottom: 4px solid;
    border-top: 4px solid;
    border-bottom-color: rgba(42, 42, 45, 1);
    border-top-color: rgba(42, 42, 45, 1);
}

#nv > a {
    color: rgba(240, 240, 240, 1);
}

#nv:hover {
    border-bottom: 4px solid;
    border-bottom-color: #95b4fa;
}

#mynavbar {
    background-color: rgba(42, 42, 45, 1);
    border-color: rgba(42, 42, 45, 1);
}




.li-active {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    padding-left: 3px;
    padding-right: 3px;
    border-bottom: 4px solid;
    border-top: 4px solid;
    border-bottom-color: rgb(237, 255, 219);
    border-top-color: rgba(42, 42, 45, 1);

}

#activelink {
    color: rgba(240, 240, 240, 1);
}


/* file summary page*/
#proceedbutton {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 50px;
    margin-top: 20px;
}

#panelhead {
    background: #424242;
    color: white;
}

#panelbod {
    background: #FFFEDC;
}

#summarypanel {
    margin-left: auto;
    margin-right: auto;
    width: 450px;
    border: #000000;
}
/* end of file summary page*/


/* edit sample sample code selection page*/
#selectsampleform {
    margin-top: 20px;
}
#get_sample_button {
    margin-left: 20px;
}

.editinput {
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}

#sample_list, #file_list {
    width: 300px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

#file_list {
    width: 400px;
}

#scrollable, #suggestion {
    overflow-y:scroll;
    height: 375px;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #fffdf4;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.05);
}

.td {
    padding-left: 7px;
}

.td:hover {
    background-color: #d8f0ca;
    cursor: pointer;
}

#sugg:hover{
    background-color: #d8f0ca;
    cursor: pointer;
    width: 300px;
}

/* end edit sample sample code selection page*/


/*** custom css only popup for column selector ***/
.columnSelectorWrapper {
  position: relative;
  margin: 10px 0;
  display: inline-block;
}
.columnSelector, .hidden {
  display: none;
}
.columnSelectorButton {
  background: #4db634;
  border: #888 1px solid;
  color: #ffffff;
  border-radius: 2px;
  padding: 5px;
  margin-left: 16px;
  margin-bottom: -8px;
}

.columnSelectorButton:hover {
  background: #357f21;
}

#colSelect1:checked + label {
  background: #439e2b;
  border-color: #555;
}
#colSelect1:checked ~ #columnSelector {
  display: block;
}
.columnSelector {
  width: 630px;
  height: 300px;
  position: absolute;
  z-index: 999;
  top: -150px;
  left:200px;
  padding: 10px;
  background: #feffe7;
  border: #505462 5px solid;
  border-radius: 2px;
  overflow-y: scroll;
  box-shadow: 5px 5px 5px 5px rgba(149, 149, 149, 0.56);
}
.columnSelector label {
  display: block;
}
.columnSelector label:nth-child(1) {
  border-bottom: #99bfe6 solid 1px;
  margin-bottom: 5px;
}
.columnSelector input {
  margin-right: 5px;
}
.columnSelector .disabled {
  color: #ddd;
}
/*** end custom css only popup for column selector ***/




#errorfields, #fileerrors {
    background-color: white;
}

#sample_counter {
    color: red;
}

#total_counter {
    color: #000000;
}

#errorpage {
    width: 450px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
}

#ex1Slider .slider-selection {
	background: #BABABA;
}

/* registers if previous sample was saved */
#saveAlert {
    position: absolute;
    top: 73px;
    right: 600px;
    z-index: 99999;
}


#colortester {
    color: #fff8b3;
}