#map-canvas {
    width: 100%;
    height: 590px;
    border: 1px solid #000;
}

/* remove resize option on selected text areas */
.noresize {
    resize: none;
    height: 23px;
    vertical-align: middle;
}

.formlabel {
	display: block;						/* Force label onto its own line. */
	font-weight: normal;
    margin-bottom: 0px;
}

.formspan {
    display:inline-block;
    margin:2px 2px 2px 3px;
}

fieldset.standard {
    padding-top:20px;
    padding-left:5px;
    padding-right: 5px;
    padding-bottom: 5px;
    border:1px solid #999;
    border-radius:1px;
    box-shadow:0 0 10px #999;
    width:560px;
    margin-bottom: 15px;
    font-size: 12px;
    background: #ebf0e6;
    margin-left: auto;
    margin-right: auto;

}

fieldset#site {
    width:560px;
}

fieldset#coordinates {
    width:470px;
    align-self: center;
}

fieldset#age {
    width:470px;
    align-self: center;
}

legend.fieldsets {
    float:left;
    margin-top:-20px;
    margin-bottom: 5px;
    font-size: 16px;
}
legend.fieldsets + * {
    clear:both;
}

button.btn-xl {
    padding: 18px 38px;
    font-size: 22px;
    border-radius: 8px;

}


.logo-nav {
    vertical-align: middle;
    padding-left: 15px;
}

img#logo {
    height: 50px;
}

#map-legend {
    font-family: "Century Schoolbook", sans-serif, 5px;
    background: #eee;
    padding: 2px;
    margin: 10px;
    border: 1px solid #444;
    box-shadow:0 0 5px #555;
}


#editjumbo {
    margin-top: -30px;
    max-width: 1180px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    float: none;
    box-shadow:0 0 10px #999;
}

#agecol {
    margin-left: auto;
    margin-right: auto;
}

#tcntabContent {
    background: #f9f9f9;
}


#mod-foot {
    background: #424242;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-top: 0px;
}

#mod-header {
    background: #424242;
    padding-top: 4px;
    padding-bottom: 4px;
}

#myModalLabel {
    color: #ffffff;
}


#mod-bod {
    font-size: 12px;
    vertical-align: middle;
    padding-bottom: 5px;
    margin-bottom: 0px;
    background: #C5BD99;
}

#modo {
    width: 630px;
}

#paneltop {
    background: #ffffff;
}
.panel-body {
    background: #FFFEDC;
}

#window_content {
    color: #b81900;
    width: 80px;
}

.panel-heading
{
    background-color:#0CF;
}
