{% load static %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
            <!-- Bootstrap -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <!--<link href="/static/css/bootstrap-theme.min.css" rel="stylesheet">--!>

    <!-- Custom styles for this template -->
    <link href="{% static 'css/jumbotron.css' %}" rel="stylesheet">

    <link href="{% static 'css/jquery-ui.css' %}" rel="stylesheet">

    <link href="{% static 'css/theme.default.css' %}" rel="stylesheet">
    <link href="{% static 'css/theme.green.css' %}" rel="stylesheet">
    <link href="{% static 'css/jquery.tablesorter.pager.css' %}" rel="stylesheet">


    <title>Mapping App - {% block title %}Home{% endblock %}</title>
</head>

<body role="document">

        <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation" id="mynavbar">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/mappingapp" class="logo-nav" ><img id="logo" src="{% static 'imgs/briticelogo.png' %}" alt="BRITICE logo" /></a>

            </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                        {% block home %}
                        <li id="nv"><a href="/mappingapp/">Home</a></li>
                        {% endblock home %}

                {% if user.is_authenticated %}

                    {% block search %}
                        <li id="nv"><a href="/mappingapp/search/">Search</a></li>
                    {% endblock search %}

                {% if is_member %}
                    {% block upload %}
                    <li id="nv"><a href="/mappingapp/upload/">Upload Files</a></li>
                    {% endblock upload %}

                    {% block edit %}
                    <li id="nv"><a href="/mappingapp/edit">Edit Records</a></li>
                    {% endblock edit %}
                {% endif %}
                {%  endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% block about %}<li id="nv"><a href="/mappingapp/about">About</a></li>{% endblock about %}
                {% block contact %}<li id="nv"><a href="/mappingapp/contact">Contact</a></li>{% endblock contact %}
            </ul>


            {% if not user.is_authenticated %}

                 <div id="loginform">
                    {% block login %}
                        <form class="navbar-form navbar-right" id="login_form" method="post" action="{% url 'userlogin' %}">
                            {% csrf_token %}
                            <div class="form-group loginform">

                                <div class="input-group input-group-sm">
                                    <input type="text" placeholder="Username" class="form-control" name="username" id="login">
                                </div>
                            </div>
                            <div class="form-group loginform">
                                <div class="input-group input-group-sm">
                                    <input type="password" placeholder="Password" class="form-control" name="password" id="login">
                                </div>
                            </div>
                            <button type="submit" class="btn btn-success" id="loginbutton">Login</button>
                        </form>
                    {% endblock login %}
            {% else %}

                <div class="navbar-header navbar-right">
                    <a href="/mappingapp/logout/"><button type="submit" class="btn btn-success navbar-btn" id="logoutbutton">Logout</button></a>
                </div>
            {% endif %}
    </div>


                </div>
        </div><!--/.nav-collapse -->
    </div>
</div>

    {% block body_block %}{% endblock %}

    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=drawing"></script>
    <script type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/infobox/src/infobox.js"></script>
    <script src="{% static 'js/googlemaps.js' %}"></script>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/docs.min.js' %}"></script>
    <script src="{% static 'js/mapapp.js' %}"></script>
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/jquery.tablesorter.js' %}"></script>
    <script src="{% static 'js/jquery.tablesorter.pager.js' %}"></script>
    <script src="{% static 'js/jquery.tablesorter.widgets.js' %}"></script>
    <script src="{% static 'js/widget-output.js' %}"></script>
    <script src="{% static 'js/jquery.tablesorter.widgets-filter-formatter.js' %}"></script>
     <script src="{% static 'js/widget-columnSelector.js' %}"></script>
    <script src="{% static 'js/spiderfier.js' %}"></script>

    </body>
</html>