<!-- Bearing & Inclination Modal launched from TCN Sample pages -->

<div class="modal fade myModal" id="biModal" tabindex="-1" role="dialog"
     aria-labelledby="biModalLabel" aria-hidden="true">
    <div class="modal-dialog" id="modo">
        <div class="modal-content" id="mod-content">
            <div class="modal-header" id="mod-header">
                <button type="button"  id="modaltop" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Sample Bearing and Inclination</h4>
            </div>
            <div class="modal-body" id="biModBod">
                <div class="panel-group" id="accordion1">
                    <div class="panel panel-success" id="paneltop">
                        <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion1" href="#collapse">
                            Data
                            </a>
                        </h4>
                        </div>
                        <div id="collapse" class="panel-collapse collapse in">
                            <div class="panel-body">
                <div class="row">
                    <div class="col-md-3" id="bearcol">
                        {{ bearingformset.management_form }}

                        {% for form in bearingformset %}
                            {% if forloop.counter == 1 %}
                                <table class="bearing">
                                <th class="centered">{{ form.bearing.help_text }}</th>
                                <th class="centered">{{ form.inclination.help_text }}</th>
                                <tr>
                                    <td>{{ form.bearing }}</td>
                                    <td>{{ form.inclination }}</td>
                                    </tr>
                                </table>
                            {% endif %}
                        {% endfor %}
                        {% for form in bearingformset %}
                            {% if forloop.counter > 1 and forloop.counter <= 10 %}
                                <table class="bearing">
                                    <tr>
                                    <td>{{ form.bearing }}</td>
                                    <td>{{ form.inclination }}</td>
                                    </tr>
                                </table>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="col-md-3" id="bearcol">
                        {% for form in bearingformset %}
                            {% if forloop.counter == 11 %}

                                <table class="bearing">
                                    <th class="centered">{{ form.bearing.help_text }}</th>
                                    <th class="centered">{{ form.inclination.help_text }}</th>
                                    <tr>
                                        <td>{{ form.bearing }}</td>
                                        <td>{{ form.inclination }}</td>
                                    </tr>
                                </table>
                            {% endif %}
                        {% endfor %}
                        {% for form in bearingformset %}
                            {% if forloop.counter > 11 and forloop.counter <= 20 %}
                                <table class="bearing">
                                    <tr>
                                        <td>{{ form.bearing }}</td>
                                        <td>{{ form.inclination }}</td>
                                    </tr>
                                </table>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="col-md-3" id="bearcol">
                        {% for form in bearingformset %}
                            {% if forloop.counter == 21 %}
                                <table class="bearing">
                                    <th class="centered">{{ form.bearing.help_text }}</th>
                                    <th class="centered">{{ form.inclination.help_text }}</th>
                                    <tr>
                                        <td>{{ form.bearing }}</td>
                                        <td>{{ form.inclination }}</td>
                                    </tr>
                                </table>
                            {% endif %}
                        {% endfor %}
                        {% for form in bearingformset %}
                            {% if forloop.counter > 21 and forloop.counter <= 30 %}
                                <table class="bearing">
                                    <tr>
                                        <td>{{ form.bearing }}</td>
                                        <td>{{ form.inclination }}</td>
                                    </tr>
                                </table>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="col-md-3" id="bearcol">
                        {% for form in bearingformset %}
                            {% if forloop.counter == 31 %}
                                <table class="bearing">
                                    <th class="centered">{{ form.bearing.help_text }}</th>
                                    <th class="centered">{{ form.inclination.help_text }}</th>
                                    <tr>
                                        <td>{{ form.bearing }}</td>
                                        <td>{{ form.inclination }}</td>
                                    </tr>
                                </table>
                            {% endif %}
                        {% endfor %}
                        {% for form in bearingformset %}
                            {% if forloop.counter > 31 and forloop.counter <= 40 %}
                                <table class="bearing">
                                    <tr>
                                        <td>{{ form.bearing }}</td>
                                        <td>{{ form.inclination }}</td>
                                    </tr>
                                </table>
                            {% endif %}
                        {% endfor %}
                        </div>
                    </div></div></div></div>
                    </div>
                </div>
            </div>

        <div class="modal-footer" id="mod-foot">
            <button type="button" class="btn btn-primary" id="close" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>