{% extends 'mappingapp/validatesample.html' %}


{% block title %}Edit Records{% endblock %}
{% block edit %}{% endblock edit %}
{% block activeupload %}{%  endblock activeupload %}
{% block upload %}<li id="nv"><a href="/mappingapp/upload/">Upload Files</a></li>{% endblock upload %}
{% block activeedit %}
    <li class="li-active"><a id="activelink" href="/mappingapp/edit">Edit Records</a></li>
{% endblock activeedit %}
{% block login %}{% endblock login %}


{% block formblock %}
    <form id="edit_form" method="post" action="/mappingapp/editsample/">
{% endblock %}

{% block buttonblock %}
    <button type="submit" class="btn-success btn-xl" name="save-button" id="editbutton">Save</button>

    <button type="button" class="btn-danger btn-xl" name="save-button" id="skipbutton">Skip</button>
{% endblock buttonblock %}
{% block validate %}{% endblock validate %}
