{% extends 'mappingapp/base.html' %}

{% block title %}Edit Records{% endblock %}
{% block age %}{% endblock age %}
{% block edit %}{% endblock edit %}
{% block activeedit %}
    <li class="active" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
        xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"><a href="/mappingapp/edit">Edit Records</a></li>
{% endblock activeedit %}
{% block login %}{% endblock login %}

{% block body_block %}
    <div class="jumbotron" id="editjumbo">
    <div class="upload">
     <form id="edit_form" method="post" action="/mappingapp/edit/">

            {% csrf_token %}
        <div class="container-fluid">
            <div class="formspan">
                {{ selectsampleform.sample_code.errors }}
                <label class="formlabel">{{ selectsampleform.sample_code.help_text }}</label>
                {{ selectsampleform.sample_code }}<br /><br/>

                <button type="submit" class="btn btn-success btn-lg">Get Sample Details</button>
            </div>

        </div>
    </form>
</div>
    </div>
{% endblock %}