{% extends 'mappingapp/base.html' %}
{% load static %}

{% block title %}Upload Error{% endblock %}
{% block upload %}<li class="li-active"><a id="activelink" href="/mappingapp/upload">Upload Files</a></li>{% endblock upload %}
{% block login %}{% endblock login %}

{% block body_block %}
<div class="jumbotron" id="standardjumbo">
<div class="container-fluid" id="errorpage">

<h4>File Format Error</h4><hr>

The file failed to upload: the spreadsheet layout was not recognised.<br /><br />

<a href="/mappingapp/upload/"><button class="btn-success btn-xl">Back</button></a>
</div>
</div>


{% endblock %}