<!-- Redirect page for upload failure -->

{% extends 'mappingapp/base.html' %}
{% load static %}

{% block title %}Upload Error{% endblock %}
{% block login %}{% endblock login %}

{% block body_block %}
    <div class="jumbotron" id="standardjumbo">
        <div class="container-fluid" id="errorpage">

            {% if type == 'file_error' %}
            <h4>File Format Error:</h4><hr>

            The file failed to upload: the spreadsheet layout was not recognised.<br /><br />

            {%  elif type == 'sample_error' %}
            <h4>Sample Code Error:</h4><hr>

            The sample code entered could not be found.<br /><br />

            {% elif type == 'photo_error' %}

            <h4>Photo File Error:</h4><hr>

            The photograph entered could not be found.<br /><br />

            {% else %}

            <h4>Error:</h4><hr>

            Unrecognised error<br /><br />

            {% endif %}

        </div>
    </div>
{% endblock %}