<!-- Redirect page for upload failure -->

{% extends 'mappingapp/base.html' %}
{% load static %}

{% block title %}Upload Error{% endblock %}
{% block upload %}
<li class="li-active dropdown">
    <a href='#' id="activelink" class="dropdown-toggle" data-toggle="dropdown">Add New <span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
        <li><a href="/briticechrono/upload/">Upload File</a></li>
        <li class="divider"></li>
        <li><a href="/briticechrono/createnew/c14">Create C14 Sample</a></li>
        <li><a href="/briticechrono/createnew/osl">Create OSL Sample</a></li>
        <li><a href="/briticechrono/createnew/tcn">Create TCN Sample</a></li>
    </ul>
</li>
{% endblock upload %}
{% block login %}{% endblock login %}

{% block body_block %}
    <div class="jumbotron" id="standardjumbo">
        <div class="container-fluid" id="errorpage">

            <h4>File Format Error:</h4><hr>

            The file failed to upload: the spreadsheet layout was not recognised.<br /><br />

            <h4>Edit Sample Error:</h4><hr>

            The sample code entered could not be found.<br /><br />

            <a href="/briticechrono/upload/"><button class="btn-success btn-xl">Back</button></a>
        </div>
    </div>
{% endblock %}