{% extends 'mappingapp/base.html' %}
{% load static %}

{% block body_block %}

    <div id="map-canvas"></div>
    <div id="map-legend"></div>
    <button type="button" class="btn-warning" id="delshape">Delete<br/>Shape</button>
    <button type="button" class="btn-success" id="viewsamples">View<br/>Samples</button>

    <form id="markers_form" method="post" action="">

            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
    <button type="submit" class="button hidden" id="submit_markers"></button>
    </form>

{% endblock %}