<!-- Photo upload file selection page template -->

{% extends 'mappingapp/base.html' %}
{% load static %}

{% block title %}Edit Photograph{% endblock %}
{% block edit %}
<li class="li-active dropdown">
    <a href='#' id="activelink" class="dropdown-toggle" data-toggle="dropdown">Edit <span class="caret"></span></a>
{% endblock edit %}

{% block login %}{% endblock login %}

{% block body_block %}
    <div class="jumbotron" id="standardjumbo">
        <div class="container-fluid">
            <div class="col-md-6" id="editleftcol">
                <div style="text-align: center"><h3>{{ file }}</h3></div>
                <div class="form-group" id="edit_photo_form">
                    <form action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                      <div class="container-fluid" id="photo_upload">

                            <label>Edit Label:</label><br/>
                            {{ photo_form.photo_label }}<br/><br />

                            <label>Add Site:</label>
                            {{ site_form.photo_site }}<br/><br />

                            <label>CTRL/Command to select multiple new samples:</label>
                            {{ sample_form.sample_pictured }}<br/>

                        </div><br />
                            <div class="col-md-5" id="photo_sample_select">
                            <label>Remove Sample:</label>
                            <input id="remove_sample" name="remove_sample">
                            </div>
                            <div class="col-md-5">
                            <label>Remove Site:</label>
                            <input id="remove_site" name="remove_site">
                            </div>

                        <div class="container-fluid" id="editphoto">

                        <p><button type="submit" id=editphotobutton class="btn-success btn-lg">Save Changes</button></p>
                        </div>
                   </form>
                </div>
            </div>

        <div class="col-md-6" id="editrightcol">
            <img id="edit_photo_img" src="{{ photo.photo_filename.url }}" title="{{ photo.photo_label }}" alt="">

            <div class="panel panel-success" id="file_list">
                <div class="panel-heading" id="sample_list_header">
                    <h4>Samples associated with this photograph <a href="#">
                    <span class="glyphicon glyphicon-info-sign"
                      style="display: inline-block;" id="helpicon" data-toggle="tooltip" data-placement="top"
                      title="Click on sample to remove"></span></a></h4>
                </div>
                <div class="panel-body photos" id="scrollable">
                    <div id="selectable">
                        <div id="samples_present">
                            {% for sample in samples %}
                                <div class="row"><div class="td sample">{{ sample.sample_pictured.sample_code }}</div></div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            <div class="panel-heading" id="sample_list_header">
                    <h4>Sites associated with this photograph <a href="#">
                    <span class="glyphicon glyphicon-info-sign"
                      style="display: inline-block;" id="helpicon" data-toggle="tooltip" data-placement="top"
                      title="Click on site to remove"></span></a></h4>
                </div>
                <div class="panel-body photo_sites" id="scrollable" name="sites_in_photo">
                    <div id="selectable">
                            {% for photo in sites %}
                                <div class="row"><div class="td site" >{{ photo.photo_site.site_name }}</div></div>
                            {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}