<!-- Photo Modal for map page sample photos -->

<div class="modal fade" id="photomodal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" id="photomodo">
        <div class="modal-content" id="photomod-content">
            <div class="modal-header" id="photomod-header">
                <button type="button"  id="modaltop" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>

                    <h4 class="modal-title" id="photomodallabel"></h4>
            </div>

            <div class="modal-body" id="photomod-bod">
                <div id="photocarousel" class="carousel slide" data-ride="carousel">

  <!-- Wrapper for slides -->
  <div class="carousel-inner" id="photocarouselinner">

  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev" id="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next" id="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
            </div>
            <div class="modal-footer" id="photo-mod-footer"></div>

        </div>
    </div>
</div>