{% extends 'mappingapp/base.html' %}
{% load static %}

{% block title %}Search{% endblock %}
{% block search %}<li class="li-active"><a id="activelink" href="/mappingapp/search/">Search</a></li>{% endblock search %}
{% block login %}{% endblock login %}

{% block body_block %}
    <div class="jumbotron search" id="standardjumbo">
        <div class="container-fluid">
<div class="panel panel-success" id="searchpanel">
    <div class="panel-heading" id="searchheader">
    <h3 class="panel-title">Search Fields</h3>
  </div>
  <div class="panel-body"  id="searchfieldpanel">


            <div class="col-md-1 col-xs-2" id="choice">
                <div class="form-group">
                    <label class="control-label" for="searchtransect">Transect</label>
                        <select name="searchtransect" id="transectsearch" class="form-control narrow">
                            <option></option>
                            <option>T1</option>
                            <option>T2</option>
                            <option>T3</option>
                            <option>T4</option>
                            <option>T5</option>
                            <option>T6</option>
                            <option>T7</option>
                            <option>T8</option>
                        </select>
                    </div>
                </div>
            <div class="col-md-1 col-xs-2" id="choice">
                <div class="form-group choice">
                    <label class="control-label" for="sampletype">Type</label>
                    <select name="sampletype" id="sampletype" class="form-control narrow">
                        <option></option>
                        <option>TCN</option>
                        <option>OSL</option>
                        <option>C14</option>
                    </select>
                </div>
            </div>
        <div class="col-md-2 col-xs-4" id="start">
            <div class="form-group">
                <label class="control-label" for="startage">Age Range</label>
                <input type="text" class="form-control narrow" id="startage" placeholder="Start">
            </div>
        </div>
      <div class="col-md-1 col-xs-4" id="endageinput">
            <div class="form-group">
             <input type="text" style="display:inline-block;" class="form-control narrow" id="endage" placeholder="Finish">
            </div>
        </div>
        <div class="col-md-2 col-xs-3" id="searchcodechoice">
            <div class="form-group">
                <label for="searchcode">Sample Code</label>
                <input type="text" class="form-control wide" id="searchcode" placeholder="Sample Code(s)">
            </div>
        </div>
        <div class="col-md-2 col-xs-4">
            <div class="form-group">
                <label class="formspan" for="searchkeyword">Keyword(s)</label>
                <input type="text" class="form-control wide" id="searchkeyword" placeholder="Keyword(s)">
            </div>
        </div>
        <div class="col-md-1 col-xs-2" id="buttongroup">
            <button type="button" class="btn-success btn-sm" id="searchbutton">Search</button>
        </div>
      <div class="col-md-1 col-xs-2" id="buttongroup">
            <button type="button" class="btn-warning btn-sm" id="fieldsbutton">Results Fields</button>
        </div>

        <div class="col-md-1 col-xs-2" id="buttongroup2">
            <button type="button" class="btn-primary btn-sm" id="getcsv">Get CSV</button>
        </div>
</div>
</div>
        <table class="tablesorter">
            <thead>
                <tr>
                  <th>Sample Code</th>
                  <th>Latitude</th>
                  <th>Longitude</th>
                  <th>Elevation</th>
                  <th>Site</th>
                  <th>Notes</th>
                  <th>Calendar Age</th>
                  <th>Calendar Error</th>
                </tr>
            </thead>
            <tbody id="resultstable">
            {% if samples %}
                {% for sample in samples %}
                    <tr>
                        <td>{{ sample.sample_code }}</td>
                        <td></td>
                        <td></td>
                        <td>{{ sample.sample_site }}</td>
                        <td>{{ sample.sample_notes }}</td>
                        <td>{{ sample.age }}</td>
                        <td>{{ sample.age_error }}</td>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>

            <!-- pager -->
        <div id="pager" class="pager">
            <form>
                <img src={% static 'imgs/first.png' %} class="first"/>
                <img src={% static 'imgs/prev.png' %} class="prev"/>
                <span class="pagedisplay"></span> <!-- this can be any element, including an input -->
                <img src={% static 'imgs/next.png' %} class="next"/>
                <img src={% static 'imgs/last.png' %} class="last"/>
                <select class="pagesize">
                  <option selected="selected" value="10">10</option>
                  <option value="20">20</option>
                  <option value="30">30</option>
                  <option value="40">40</option>
                </select>
            </form>


{#<table class="tablesorter">#}
{#    <thead>#}
{#        <tr>#}
{#            <th>AlphaNumeric</th>#}
{#            <th>Numeric</th>#}
{#            <th>Animals</th>#}
{#            <th>Sites</th>#}
{#        </tr>#}
{#    </thead>#}
{#    <tbody>#}
{#        <tr>#}
{#            <td>abc 123</td>#}
{#            <td>10</td>#}
{#            <td>Koala</td>#}
{#            <td>http://www.google.com</td>#}
{#        </tr>#}
{#        <tr>#}
{#            <td>abc 1</td>#}
{#            <td>234</td>#}
{#            <td>Ox</td>#}
{#            <td>http://www.yahoo.com</td>#}
{#        </tr>#}
{#        <tr>#}
{#            <td>abc 9</td>#}
{#            <td>10</td>#}
{#            <td>Girafee</td>#}
{#            <td>http://www.facebook.com</td>#}
{#        </tr>#}
{#        <tr>#}
{#            <td>zyx 24</td>#}
{#            <td>767</td>#}
{#            <td>Bison</td>#}
{#            <td>http://www.whitehouse.gov/</td>#}
{#        </tr>#}
{#        <tr>#}
{#            <td>abc 11</td>#}
{#            <td>3</td>#}
{#            <td>Chimp</td>#}
{#            <td>http://www.ucla.edu/</td>#}
{#        </tr>#}
{#        <tr>#}
{#            <td>abc 2</td>#}
{#            <td>56</td>#}
{#            <td>Elephant</td>#}
{#            <td>http://www.wikipedia.org/</td>#}
{#        </tr>#}
{#        <tr>#}
{#            <td>abc 9</td>#}
{#            <td>155</td>#}
{#            <td>Lion</td>#}
{#            <td>http://www.nytimes.com/</td>#}
{#        </tr>#}
{#        <tr>#}
{#            <td>ABC 10</td>#}
{#            <td>87</td>#}
{#            <td>Zebra</td>#}
{#            <td>http://www.google.com</td>#}
{#        </tr>#}
{#        <tr>#}
{#            <td>zyx 1</td>#}
{#            <td>999</td>#}
{#            <td>Koala</td>#}
{#            <td>http://www.mit.edu/</td>#}
{#        </tr>#}
{#        <tr>#}
{#            <td>zyx 12</td>#}
{#            <td>0</td>#}
{#            <td>Llama</td>#}
{#            <td>http://www.nasa.gov/</td>#}
{#        </tr>#}
{#    </tbody>#}
{#</table>#}
        </div>
    </div>
</div>




{% endblock %}