<!-- TCN form component for Validate, Edit and Create New pages -->

{% for hidden in tcnform.hidden_fields %}
    {{ hidden }}
{% endfor %}

<fieldset class="standard">
    <legend class="fieldsets">TCN Sample Details <a href="#"><span class="glyphicon glyphicon-info-sign"
    style="display: inline-block;" id="helpicon" data-toggle="tooltip" data-placement="top"
    title="Fields with orange backgrounds contain errors.  Click on the Errors button for details.
      Fields with yellow backgrounds have failed to import correctly from the spreadsheet"></span></a></legend>
    <div class="formspan left">
        {{ sampform.sample_code.errors }}
        <label class="formlabel">{{ sampform.sample_code.help_text }}</label>
        {{ sampform.sample_code }}
    </div>
    <div class="formspan" id="transect">
        {{ tranform.transect_number.errors }}
        <label class="formlabel">{{ tranform.transect_number.help_text }}</label>
        {{ tranform.transect_number }}
    </div>
    <div class="formspan" id="retreat">
        {{ retform.zone_number.errors }}
        <label class="formlabel">{{ retform.zone_number.help_text }}</label>
        {{ retform.zone_number }}
    </div>
    <div class="formspan">
        {{ sampform.dating_priority.errors }}
         <label class="formlabel">{{ sampform.dating_priority.help_text }}</label>
        {{ sampform.dating_priority }}
    </div>
     <div class="formspan">
        {{ sampform.collection_date.errors }}
        <label class="formlabel">{{ sampform.collection_date.help_text }}</label>
        {{ sampform.collection_date }}
    </div>
    <div class="formspan">
        <button type="button" class="btn-primary btn-sm" data-toggle="modal" data-target="#biModal"
                id="bearingmodalbutton">
                Bearing &<br/>Inclination</button>
    </div>
    <div class="formspan left">
        {{ sampform.collector.errors }}
        <label class="formlabel">{{ sampform.collector.help_text }}</label>
        {{ sampform.collector }}
    </div>
    <div class="formspan">
        {{ sampform.sample_location_name.errors }}
        <label class="formlabel">{{ sampform.sample_location_name.help_text }}</label>
        {{ sampform.sample_location_name }}
    </div>
    <div class="formspan left">
        {{ tcnform.sampled_material.errors }}
        <label class="formlabel">{{ tcnform.sampled_material.help_text }}</label>
        {{ tcnform.sampled_material }}
    </div>
    <div class="formspan">
        {{ tcnform.lithology.errors }}
        <label class="formlabel">{{ tcnform.lithology.help_text }}</label>
        {{ tcnform.lithology }}
    </div>
    <div class="formspan left">
        {{ tcnform.quartz_content.errors }}
        <label class="formlabel">{{ tcnform.quartz_content.help_text }}</label>
        {{ tcnform.quartz_content }}
    </div>
    <div class="formspan">
        {{ tcnform.sample_surface_strike_dip.errors }}
        <label class="formlabel">{{ tcnform.sample_surface_strike_dip.help_text }}</label>
        {{ tcnform.sample_surface_strike_dip }}
    </div>
    <div class="formspan">
        {{ tcnform.boulder_dimensions.errors }}
        <label class="formlabel">{{ tcnform.boulder_dimensions.help_text }}</label>
        {{ tcnform.boulder_dimensions }}
    </div>
    <div class="formspan">
        {{ tcnform.sample_thickness.errors }}
        <label class="formlabel">{{ tcnform.sample_thickness.help_text }}</label>
        {{ tcnform.sample_thickness }}
    </div>
    <div class="formspan">
        {{ tcnform.grain_size.errors }}
        <label class="formlabel">{{ tcnform.grain_size.help_text }}</label>
        {{ tcnform.grain_size }}
    </div><br />

    <div class="formspan left">
        {{ tcnform.sample_setting.errors }}
        <label class="formlabel">{{ tcnform.sample_setting.help_text }}</label>
        {{ tcnform.sample_setting }}
    </div>
    <div class="formspan left">
        {{ sampform.sample_notes.errors }}
        <label class="formlabel">{{ sampform.sample_notes.help_text }}</label>
        {{ sampform.sample_notes }}
    </div>
</fieldset>

{% include "mappingapp/bearingmodal.html" %}


