{% extends 'mappingapp/base.html' %}
{% load static %}

{% block title %}Upload Files{% endblock %}

{% block age %}{% endblock age %}
{% block upload %}{% endblock upload %}

{% block activeupload %}
    <li class="active"><a href="/mappingapp/upload">Upload Records</a></li>
{% endblock activeupload %}

{% block login %}{% endblock login %}

{% block body_block %}
<div class="jumbotron">
    <div class="form-group">
    <!-- List of uploaded documents -->
        {% if documents %}
            <ul>
                {% for document in documents %}
                <li><a href="{{ document.docfile.url }}">{{ document.docfile.name }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No documents.</p>
        {% endif %}

        <!-- Upload form. Note enctype attribute! -->
        <form action="{% url "upload" %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>{{ form.non_field_errors }}</p>
            <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>
            <p>
                {{ form.docfile.errors }}
                {{ form.docfile }}
            </p>
            <p><button type="submit" class="btn btn-success navbar-btn">Upload</button></p>
        </form>
    </div>
</div>

{% endblock %}