{% extends 'mappingapp/base.html' %}
{% load static %}

{% block title %}Upload Files{% endblock %}
{% block upload %}<li class="li-active"><a id="activelink" href="/mappingapp/upload">Upload Files</a></li>{% endblock upload %}
{% block login %}{% endblock login %}

{% block body_block %}
<div class="jumbotron" id="standardjumbo">
<div class="upload">

    <div class="form-group">
        <form action="" method="post" enctype="multipart/form-data">

            {% csrf_token %}

            <div class="container-fluid">
                {{ form.file.errors }}
                {{ form.file.help_text }}<br/>
                {{ form.file }}
            </div><br />
            <div class="container-fluid">
            <p><button type="submit" class="btn btn-success btn-lg">Upload</button></p>
        </div>
        </form>
    </div>
</div>
</div>

{% endblock %}